# ===================================================================
# docker compose用環境変数ファイル
# ===================================================================
# このcompose projectで利用されるプロジェクト名
# デフォルトでは暗黙的にプロジェクトルートのディレクトリ名が利用される
# コンテナ名やボリューム名のprefixとして利用される
# 複数のプロジェクトを利用した場合に名前の衝突を防ぐために利用
COMPOSE_PROJECT_NAME=uta_messageskipmv

# ホスト側のRPGツクールMV/MZプロジェクトディレクトリのパス
# ビルド時にプラグインファイルをコピーする先になる
# このディレクトリの js/plugins/ 以下にビルドしたプラグイン
UTA_DEST_RPGMVZ_PROJECT=/path/to/your-project

# コンテナ内に設定するタイムゾーン
TZ=Asia/Tokyo
