# =============================================================================
# .gitignore
# =============================================================================
# Node.jsパッケージディレクトリ
node_modules

# ビルド結果出力ディレクトリ
build
docs/help/build

# パッケージング結果出力ディレクトリ
dist

# RPGツクールプロジェクトマウント用ディレクトリ
project

# 環境変数ファイル
.env

# python byte codes
*.pyc
*.pyo
*.pyi
__pycache__

!.gitkeep
