# =============================================================================
# .gitignore
# =============================================================================
# Node.jsパッケージディレクトリ
node_modules

# ビルド結果出力ディレクトリ
build

# パッケージング結果出力ディレクトリ
dist

# RPGツクールプロジェクトマウント用ディレクトリ
project

# 環境変数ファイル
.env

!.gitkeep
