# =============================================================================
# npm関連設定ファイル
# https://docs.npmjs.com/cli/v11/configuring-npm/npmrc
# https://docs.npmjs.com/cli/v11/using-npm/config
# =============================================================================
# 依存パッケージのスクリプト自動実行を禁止する
ignore-scripts=true

# 公開直後のバージョンを利用しない
# サプライチェーン攻撃による公開直後の影響を回避
min-release-age=7

# 依存関係を厳格に検証させ、エンジン不一致警告時に失敗させる
engine-strict=true

# 脆弱性監査を常時有効化
# high以上の場合にコマンドを失敗させる
audit=true
audit-level=high

# パッケージバージョンを厳密に固定化
save-exact=true
